<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-tsc" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Cordova Plugin Tsc</name><js-module name="TscPrinter" src="www/TscPrinter.js">
  <clobbers target="window.TscPrinter" /></js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
  <feature name="TscPrinter">
    <param name="android-package" value="com.betterlife.tscprinter.TscPrinter" />
    <param name="onload" value="true" />
  </feature>
</config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
      <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</config-file>
    <source-file src="src/android/TscPrinter.java" target-dir="src/com/betterlife/tscprinter/" />
  <source-file src="src/android/libs/tscsdk.jar" target-dir="libs/" />
</platform>
  <platform name="ios">
  <config-file parent="/*" target="config.xml">
    <feature name="Cordova Plugin Tsc">
      <param name="ios-package" value="Cordova Plugin Tsc" />
    </feature></config-file><source-file src="src/ios/Cordova Plugin Tsc.m" />
  </platform>
</plugin>
